

body{
    font-family: 'Montserrat', sans-serif;
    background-color: azure;
}

.box1{
    width: 50px;
    height: 50px;
    background-color: #26c7e3;
}

.for_box{
    display: flex;
    gap:20px;
    flex-direction: column;
    width: 200px;
}

.b_flex{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}

button{
    padding:10px 20px;
    background-color: rgb(105, 243, 172);
    width: 300px;
    border-radius: 25px;
    border:none;

}

.box3{
    background-image: url(../img/large.58f1bdeda1c5c_.jpg.91c33c120ad86a4dbf2c50dd44d00890.jpg);
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


